<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>DuckDuckGo</string>
	<key>Builder Version</key>
	<string>12603.2.4</string>
	<key>CFBundleDisplayName</key>
	<string>DuckDuckGo - Default Search Engine</string>
	<key>CFBundleIdentifier</key>
	<string>com.duckduckgo.safari-default</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>open_toolbar_button</string>
				<key>Identifier</key>
				<string>toolbar_button</string>
				<key>Image</key>
				<string>ddg-icon@2x.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>DuckDuckGo</string>
				<key>Palette Label</key>
				<string>DuckDuckGo - Default Search Engine</string>
				<key>Tool Tip</key>
				<string>DuckDuckGo - Default Search Engine</string>
			</dict>
		</array>
	</dict>
	<key>Description</key>
	<string>Set DuckDuckGo.com as the default search engine.</string>
	<key>DeveloperIdentifier</key>
	<string>0000000000</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Website</key>
	<string>https://duckduckgo.com/</string>
</dict>
</plist>
